.modal-header {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  padding: 20px;
}

h2 {
  margin: 0;
}

button {
  color: white;
}
